/*#messages {
  width: 96%;
  left: 2%;
  right: 2%;
  position: absolute;
  top: 2em;
  bottom: 0;
  overflow-y: scroll;
}
.message {
  width: 100%;
  padding: .5em 0;
}
.right {
  text-align: right;
}
.message span {
  width: 65%;
  padding: 1em 1em;
  border-radius: 5px;
  display: inline-block;
  /*margin: 0 20px;*/
/*text-align: left;
}
.message div {
  padding: 6px 10px;
  display: inline-block;
  margin: 0 2em 1em 2em;
  color: #8E8E93;
  font-size: 1em;
}
.message.left span {
  background-color: #CCCCCC;
}
.message.right span {
  color: #FFFFFF;
  background-color: #536DFE;
}*/
