body {
    background-color: #FFF;
    color: #000;
/*font-family: 'Raleway', sans-serif;*/
font-family: 'Montserrat', sans-serif;
}
/*
* Header
*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    height: 40px; /* Probably change this to be ratio based */
}
nav .logo {
    width: 96px;
    height: 24px;
}
nav .profile {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
}

.search-text {
    display: block;
    font-size: large;
}
.search-text i {
    margin-right: 2rem;
}
.hr-header {
    margin-top: 0px;
    margin-bottom: 10px;
    border-top: 1px solid #979797;
}
.search-text input {
    background-color: #FFF;
    border: #000;
    /*width: 75px;*/ /* non-optimal */
}
.search-text input:focus {
outline-width: 0;
}
.search-text input::placeholder {
    color: #FFF;
}
input[type="text"] {
    font-size: 1.3333333333333333em;
    font-weight: 900;
}
.page-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #000;
    color: #000;
    text-align: center;
}
/* Check and see if this looks good with different viewports/if you should convert to % */
header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
/*
* Card-specific styles
*/
.cards .card {
    overflow: hidden;
}
.card {
width: 34rem;
height: 19rem;
margin: 0 auto;

position: relative;
margin-bottom: 3rem;
color: #FFF;
}
.card .card-right {
    width: 25rem;
    float: right;
}
.card .card-left {
    float: left;
    position: relative;
    top: 12rem;
    left: 2rem;
}
.card .card-title {
    font-size: 2rem;
    margin-bottom: 0px;
    font-weight: bold;
}
.card hr {
    width: 100%;
    float: right;
    color: #fff;
    opacity: 50%;
}
.card .card-address {
    color: #DDD;
}
.card .card-title, .card .card-address, .card .card-nav {
    margin-left: 1rem;
}
.card .card-logo-img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
.card .card-favorite {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-top: 1rem;
    position: absolute;
    margin-left: 20rem;
}
.card .card-right-bottom {
    top: 10rem;
    position: relative;
}
.card .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card-nav li {
    display: inline-block;
    margin-right: 1.5rem;
    border-right:1px solid #CCC;
    padding-right: 1.5rem;
    text-transform: uppercase;
    font-size: .8rem;
}
.card-nav li:last-child {
    border-right: none;
    padding-right: 0rem;
    margin-right: 0rem;
}
.card hr {
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: .5;
}
.card-nav {
    margin-top: .25rem;
}
.card-nav img {
width: 1rem;
margin-left: .5rem;
vertical-align: top;
}
/*
* Card row styles
*/
.menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
  }
   
  .scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
  }
  .menu-item-wrapper {
      margin-right: 2rem;
  }
  .menu-item-wrapper:focus {
    outline: none;
  }
/*
* Card-specific styles
*/
.titlecard .layer {
    /*background-color: rgba(6, 86, 165, 0.9);*/
}
.promocard .layer {
    background-color: #FFF;
}
/*.titlecard .bubble {
    width: 200px;
    height: 50px;
    background-color: orange;
    z-index: 10;
    border-radius: 50px;
    position: absolute;
}*/
/*
* Category-specific styles
*/
.categories {
    /*text-align: center;*/
}
.categories li {
    display: inline-block;
    margin-right: 1rem;
    border-right:1px solid #CCC;
    padding-right: 1rem;
    text-transform: uppercase;
    font-size:.7rem;
}
.categories li:first-child {
    border: 1px solid #979797;
    text-align: center;
    margin-right: 1rem;
    margin-left: .5rem;
    padding-right: .5rem;
    padding-left: .5rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.categories li:last-child {
    border-right: none;
    padding-right: 0rem;
    margin-right: 0rem;
}
/*
* Google Maps Specific
*/
.gmaps {
color: #000;
}
.gmaps div > div {
    border-radius: 10px 10px 0px 0px;
}
/*.gmaps .business {
    background-color: #0587e0;
    width: 95%;
    height: 6rem;
    opacity:.9;
    border-radius:5px;
    position: absolute;
    color: #fff;
    left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
top: 38rem;
}*/
/*
* Styles for cards on the map page
*/
.gmaps .business {
    position: absolute;
    color: #fff;
    left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
top: 38rem;
}
.gmaps .business .card {
    height: 6.5rem;
    border-radius: 5px;
    width: 95%;
    margin-top: 4rem;
}
.gmaps .business .card .card-left {
    top: 1rem;
}
.gmaps .business .card .card-right-bottom {
    top: 0rem;
    left: 2rem;
}
.gmaps .business .card .card-right .card-title{
    margin-top: 1rem;
}
.gmaps .business .card .card-right {
    width: 100%;
   float: none;
}
.gmaps .business .card .card-logo-img {
    width: 5rem;
    height: 4.5rem;
}
.gmaps .business .card .card-favorite {
    margin-top: 0rem;
    margin-left: 27rem;
}
.gmaps .business .card hr, .gmaps .business .card-nav {
    display: none;
}


/*
* Chat application
*/
.chat textarea {
    color: #000;
    box-sizing: border-box;
    height: 100%;
    width: 70%;
    float: left;
}
.chatlinkback {
   font-size:12px;
   font-weight: 900;
   display: inline-block;
   position: absolute;
   z-index: 1;
   margin-top: -10%;
   
}
.chatlinktitle {
    display: inline-block;
    vertical-align:.3rem;
    font-weight: 900;
}
  .triangle {
    border-right: .4rem solid; 
    border-bottom: .4rem solid;
    height: 1.5rem;
    width: 1.5rem;
    transform: rotate(135deg);
    display:inline-block;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 3rem;
}
.right-triangle {
    transform: rotate(-45deg);
    border-right: .2rem solid;
    border-bottom: .2rem solid;
    height: 1.3rem;
    width: 1.3rem;
    -webkit-transform: rotate(-45deg);
    display: inline-block;
    margin-left: 1rem;
    margin-top: 1rem;
}
::-webkit-input-placeholder {
    transform:translate3d(0,1em,0)
 }
 /*
 * A bit messy, clean up later on when there is time to do so
 */
 .full-chat > div:nth-of-type(2) > div:first-of-type {
     align-items: flex-start;
 }

/*
* Notification Bubble - this possibly should possibly be refactored to take advantage of SOLID with chat application
*/
.bubble {
    position: absolute;
    padding: 10px;
    margin: 2.5em 1rem 3em;
    color: #536DFE;
    background: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 15px;
    overflow-wrap: break-word;
    max-width:75%;
    overflow:hidden;
    white-space: normal;
    font-size:1.5rem;
    border: 1px solid #536DFE;
    border-bottom-width: medium;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}


/*
* Business detail page
*/
.detail .layer {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+82,000000+100&0+0,1+100 */
/*background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.82) 82%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.82) 82%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.82) 82%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.detail .layer {
    display: none;
}
.detail .about {
    margin-top: 10rem;
}
.detail .card {
    width: 100%;
    margin-bottom: 0rem;
    margin-top: 5rem;
    background-repeat: no-repeat;
    height: 15rem;
}
.detail .card-nav {
    margin-top: 10.5rem;
    position: absolute;
}
.detail .card-nav li {
    color: #27295F;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 0 10px;
    line-height: 20px;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    /*background-image: linear-gradient(#335b71 45%, #03324c 55%);*/
    box-shadow: 0 2px 2px #536DFE;
}
.detail .card-nav img {
    vertical-align: middle;
}
.detail .card-address {
    position: absolute;
    margin-top: 8rem;
    color: #969FA2;
}
.detail .card hr {
    display: none;
}
.detail .card-title {
    margin-top: 6rem;
    position: absolute;
    color: #27295F;
    font-weight: bold;
    font-family: "Monserrat"
}
.detail .ico-times {
    position: absolute;
    z-index: 50;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: -3rem;
    /*text-shadow:
     -1px 1px 0 #000,
      1px 1px 0 #000;*/
}
.detail .about, .detail .promotions {
    margin-left: 2rem;
    margin-right: 2rem;
}
.detail .about p {
    color: #969fa2;
    margin-left: 1rem;
}
.detail h3 {
font-size: 2rem;
}
/*
* Create a closing X
*/
[class^="ico-"], [class*=" ico-"]{
    font: normal 1em/1 Arial, sans-serif;
  }

  .ico-times:before{ content: "\2715"; }
  .ico-check:before{ content: "\2714"; }

/*
* Login page and related styles
*/
.login-header {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 6em;
    /*line-height: 25px;*/
}
.facebookblue {
    background-color: #3b5998;
    color: #FFF;
}
.googlered {
    background-color: #db3236;
    color: #FFF;
}
.loginbutton {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .75em;
    padding-bottom: .5em;
    font-size: 14px;
    margin-top: .5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.loginbuttongroup {
    margin-top: 10rem;
}
.login-img {
    width: 2em;
    height: 2em;
    align-self:flex-end;
    vertical-align: middle;
    margin-top: -1.5em;
}
.bottomtext {
    text-align: center;
    font-size: 14px;
    margin-top: 25%;
    bottom: 1em;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/*
* Settings pages
*/
.settings {
    margin-top: 5rem;
}
.settings ul {
    background-color: #FFF;
    padding-top: 0em;
    padding-bottom: 0em;
    color: #989ea2;
    margin-bottom: 2em;
    border-top: 1px solid #e4e3e6;
    border-bottom: 1px solid #e4e3e6;
}
.settings ul li {
    border-bottom: 1px solid #e4e3e6;
    padding-top:1em;
    padding-bottom:1em;
    margin-left:1em;
}
.settings ul a {
    text-decoration: none;
    color: #989ea2;
}
.settings ul a li:active, .settings ul a li:target {
    background-color: #d9d9d9;
    margin-left:0em;
    padding-left: 1em;
    border-bottom: 0px;
    border-top: 0px;
}
.settings ul .list-bottom {
    border-bottom: none;
    padding-top:1em;
    padding-bottom:1em;
    margin-left:1em;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
::-webkit-scrollbar { 
    display: none; 
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
.settings #single {
    display: none;
}
.setting-left {
    font-weight: 900;
    color: #000;
}
.setting-right {
    float: right;
    margin-right: 5%;
}
.profile-name {
    color: #536DFE;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
}
.profile-email {
    color: #ACACAC;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
}
.fav-merchants {
    margin: 0 auto;
    text-align: center;
}
.merchant-number {
    color: #000;
    font-size: 1.75rem;
}
.fav-merchants-text {
    color: #000;
    font-size: 10px;
}
.toggle-text {
    margin-left: 5%;
    vertical-align: super;
}
.main-settings label {
    width: 100%;
}

/*
* Loading
*/
.sweet-loading {
    margin: 0 auto;
    text-align: center;
}

/*
* Favorite Merchants
*/
.fav-merchant-item {
    margin-bottom: 2rem;
    color: #000;
}
.fav-merchant-item .favorite {
    width: 3rem;
    margin-right: 1rem;
}
.fav-merchant-item .fav-logo {
    width: 3rem;
    margin-left: 1rem;
    height: 3rem;
}
.fav-merchant-item .favorite {
    float: right;
}
.fav-merchant-item .fav-item {
    display: inline-block;
    margin-left: 1.5rem;
}
.fav-merchant-item .fav-address {

    font-size: 1rem;
    /* Will accomplish what you want - but maybe a more elegant way? */
    margin-left: 5rem;
    margin-top: -1rem;
}
.fav-merchant-item .fav-address img {
    width: 1.2rem;
    vertical-align: text-bottom;
}


  /*
  * TEMPORARY STYLES - REMOVE WHEN DONE
  */
  .detail .bubble, .gmaps .business .card .bubble {
      display: none;
  }