body {
background-color: #000;
color: #FFF;
/*font-family: 'Raleway', sans-serif;*/
font-family: 'Montserrat', sans-serif;
}
/*
* Header
*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    height: 40px; /* Probably change this to be ratio based */
}
nav .logo {
    width: 96px;
    height: 24px;
}
nav .profile {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
}

.search-text {
    display: block;
    font-size: large;
}
.search-text i {
    margin-right: 2rem;
}
.hr-header {
    margin-top: 0px;
    margin-bottom: 10px;
}
.search-text input {
    background-color: #000;
    border: #000;
    /*width: 75px;*/ /* non-optimal */
}
.search-text input:focus {
outline-width: 0;
}
.search-text input::placeholder {
    color: #FFF;
}
input[type="text"] {
    font-size: 1.3333333333333333em;
    font-weight: 900;
}
.page-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #000;
    color: #000;
    text-align: center;
}
/* Check and see if this looks good with different viewports/if you should convert to % */
header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
/*
* Card-specific styles
*/
.card {
width: 34rem;
height: 19rem;
margin: 0 auto;
overflow: hidden;
position: relative;
margin-bottom: 3rem;
}
.card .card-right {
    width: 25rem;
    float: right;
}
.card .card-left {
    float: left;
    position: relative;
    top: 12rem;
    left: 2rem;
}
.card .card-title {
    font-size: 2rem;
    margin-bottom: 0px;
    font-weight: bold;
}
.card hr {
    width: 100%;
    float: right;
    color: #fff;
    opacity: 50%;
}
.card .card-address {
    color: #8094a4;
}
.card .card-title, .card .card-address, .card .card-nav {
    margin-left: 1rem;
}
.card .card-logo-img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
.card .card-favorite {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-top: 1rem;
    position: absolute;
    margin-left: 20rem;
}
.card .card-right-bottom {
    top: 10rem;
    position: relative;
}
.card .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card-nav li {
    display: inline-block;
    margin-right: 1.5rem;
    border-right:1px solid #CCC;
    padding-right: 1.5rem;
    text-transform: uppercase;
    font-size: .8rem;
}
.card-nav li:last-child {
    border-right: none;
    padding-right: 0rem;
    margin-right: 0rem;
}
.card hr {
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: .5;
}
.card-nav {
    margin-top: .25rem;
}
.card-nav img {
width: 1rem;
margin-left: .5rem;
vertical-align: top;
}
/*
* Card row styles
*/
.menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
  }
   
  .scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
  }
  .menu-item-wrapper {
      margin-right: 2rem;
  }
  .menu-item-wrapper:focus {
    outline: none;
  }
/*
* Card-specific styles
*/
.titlecard .layer {
    background-color: rgba(6, 86, 165, 0.9);  
}
.promocard .layer {
    background-color: #FFF;
}
/*.titlecard .bubble {
    width: 200px;
    height: 50px;
    background-color: orange;
    z-index: 10;
    border-radius: 50px;
    position: absolute;
}*/
/*
* Category-specific styles
*/
.categories {
    /*text-align: center;*/
}
.categories li {
    display: inline-block;
    margin-right: 1rem;
    border-right:1px solid #CCC;
    padding-right: 1rem;
    text-transform: uppercase;
    font-size:.7rem;
}
.categories li:first-child {
    border: 1px solid #979797;
    text-align: center;
    margin-right: 1rem;
    margin-left: .5rem;
    padding-right: .5rem;
    padding-left: .5rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.categories li:last-child {
    border-right: none;
    padding-right: 0rem;
    margin-right: 0rem;
}
/*
* Google Maps Specific
*/
.gmaps {
color: #000;
}
.gmaps div > div {
    border-radius: 10px 10px 0px 0px;
}
/*.gmaps .business {
    background-color: #0587e0;
    width: 95%;
    height: 6rem;
    opacity:.9;
    border-radius:5px;
    position: absolute;
    color: #fff;
    left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
top: 38rem;
}*/
/*
* Styles for cards on the map page
*/
.gmaps .business {
    position: absolute;
    color: #fff;
    left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
top: 38rem;
}
.gmaps .business .card {
    height: 6.5rem;
    border-radius: 5px;
    width: 95%;
    margin-top: 4rem;
}
.gmaps .business .card .card-left {
    top: 1rem;
}
.gmaps .business .card .card-right-bottom {
    top: 0rem;
    left: 2rem;
}
.gmaps .business .card .card-right .card-title{
    margin-top: 1rem;
}
.gmaps .business .card .card-right {
    width: 100%;
   float: none;
}
.gmaps .business .card .card-logo-img {
    width: 5rem;
    height: 4.5rem;
}
.gmaps .business .card .card-favorite {
    margin-top: 0rem;
    margin-left: 27rem;
}
.gmaps .business .card hr, .gmaps .business .card-nav {
    display: none;
}


/*
* Chat application
*/
.chat textarea {
    color: #000;
}
.chatlinkback {
   font-size:12px;
   font-weight: 900;
   display: inline-block;
   position: absolute;
   
}
.chatlinktitle {
    display: inline-block;
    vertical-align:.3rem;
    font-weight: 900;
}
  .triangle {
    border-right: .4rem solid; 
    border-bottom: .4rem solid;
    height: 1.5rem;
    width: 1.5rem;
    transform: rotate(135deg);
    display:inline-block;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 3rem;
}

/*
* Notification Bubble - this possibly should possibly be refactored to take advantage of SOLID with chat application
*/
.bubble {
    position: absolute;
    padding: 10px;
    margin: 2.5em 1rem 3em;
    color: #fff;
    background: #5500ff;
    background: #5500ff;
    background: #5500ff;
    background: #5500ff;
    background: #5500ff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 15px;
    overflow-wrap: break-word;
    max-width:75%;
    overflow:hidden;
    white-space: normal;
    font-size:1.5rem;
}
/*
* Business detail page
*/
.detail .layer {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+82,000000+100&0+0,1+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.82) 82%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.82) 82%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.82) 82%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.detail .card {
    width: 100%;
    margin-bottom: 0rem;
}
.detail .ico-times {
    position: absolute;
    z-index: 50;
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    text-shadow:
     -1px 1px 0 #000,
      1px 1px 0 #000;
}
.detail .about, .detail .promotions {
    margin-left: 2rem;
    margin-right: 2rem;
}
.detail .about p {
    color: #969fa2;
    margin-left: 1rem;
}
.detail h3 {
font-size: 2rem;
}
/*
* Create a closing X
*/
[class^="ico-"], [class*=" ico-"]{
    font: normal 1em/1 Arial, sans-serif;
  }

  .ico-times:before{ content: "\2715"; }
  .ico-check:before{ content: "\2714"; }



  /*
  * TEMPORARY STYLES - REMOVE WHEN DONE
  */
  .detail .bubble, .gmaps .business .card .bubble {
      display: none;
  }