#messages {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 75vh;
  z-index: 100;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  cursor: pointer;
}
.bottom-scroll {
  bottom: 0;
  height: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.bottom-scroll.active {
  height: 10rem;
}
.message {
  width: 100%;
  padding: 4px 0;
}
.right {
  text-align: right;
}
.message span {
  width: 40%;
  padding: 8px 10px;
  border-radius: 12px;
  display: inline-block;
  text-align: left;
}
.message div {
  padding: 6px 10px;
  display: block;
  margin: 0 20px 8px 20px;
  color: #bbbbbb;
  font-size: 1em;
}
.message.left span {
  background-color: #cccccc;
  margin-left: 2em;
}
.message.right span {
  color: #ffffff;
  margin-right: 2em;
  background-color: #536dfe;
}
#messages-container {
  height: 80vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 99;
  cursor: pointer;
}

.msginput {
  border-top: none;
  border-bottom: none;
  z-index: 100;
  bottom: 0vh;
  /*top: calc(100vh - (6em + env(safe-area-inset-bottom)));*/
  top: calc(100vh - 6em);
  left: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  padding-bottom: 10em;
  margin-bottom: 0px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  height: 5em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.msginput textarea {
  width: 75%;
  border: none;
  resize: none;
  border-radius: 5px;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
  display: inline-block;
  background-color: #fff;
  /* margin-top: 1em; */
  /* margin-bottom: 1em; */
  margin-left: 0.5em;
  font-size: 1.1em;
  /* padding-top: .5em; */
  /* padding-bottom: .5em; */
  max-height: 7rem;
  min-height: 2rem;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.msginput .sendbutton {
  color: #536dfe;
  font-weight: bold;
  font-size: 1.5em;
  /* height: 1em; */
  width: 15%;
  display: inline-block;
  vertical-align: middle;
  /* position: absolute; */
  /* right: .5em; */
  /* margin-top: 1em; */
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* margin-left: -2rem; */
  /* position: absolute; */
  margin-left: 1rem;
}

.msginput .inner-keyboard {
  background-color: #fff;
  width: 90%;
  border: 1px solid#C7C7CC;
  border-radius: 20px;
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* TEST CODE FOR KEYBOARD */

/*.switch-wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}*/
/*.switch-wrapper > div {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}*/
/*.root {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}*/
/*.root > div {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}*/
