#messages {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
  padding-bottom: 5em;
}
.message {
  width: 100%;
  padding: 4px 0;
}
.right {
  text-align: right;
}
.message span {
  width: 40%;
  padding: 8px 10px;
  border-radius: 12px;
  display: inline-block;
  text-align: left;
}
.message div {
  padding: 6px 10px;
  display: inline-block;
  margin: 0 20px 8px 20px;
  color: #BBBBBB;
  font-size: 1em;
}
.message.left span {
  background-color: #CCCCCC;
  margin-left: 2em;
}
.message.right span {
  color: #FFFFFF;
  margin-right: 2em;
  background-color: #536DFE;
}
#messages-container {
height: 50vh;
position: fixed;
width: 100%;
touch-action: none;
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}

.msginput {
  border-top: 1px solid #d1d4d9;
  border-bottom: 1px solid #d1d4d9;
    z-index: 100;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: #f2f2f2;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}
.msginput textarea {
  width: 75%;
  border: 1px solid #c6c6c6;
  resize: none;
  border-radius: 5px;
  height:100%;
  margin: 0 auto;
  vertical-align: middle;
  display: inline-block;
  background-color: #f5f5f5;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: .5em;
  font-size: 1.1em;
  padding-top: .5em;
  padding-bottom: .5em;
}
.msginput .sendbutton {
  color: #536DFE;
  font-weight: bold;
  font-size: 1.5em;
  height: 1em;
  width: 15%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: .5em;
  margin-top: 1em;
}



/* TEST CODE FOR KEYBOARD */

/*.switch-wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}*/
/*.switch-wrapper > div {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}*/
/*.root {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}*/
/*.root > div {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}*/