<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957077341718-29ttm48pljqb7vtvmrujsm54i2lkf5th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957077341718-29ttm48pljqb7vtvmrujsm54i2lkf5th</string>
	<key>API_KEY</key>
	<string>AIzaSyB7OV39m1H7fWgq6t3097m3A2Ek39N5aRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>957077341718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shoployal.app</string>
	<key>PROJECT_ID</key>
	<string>shoployal-cf02d</string>
	<key>STORAGE_BUCKET</key>
	<string>shoployal-cf02d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957077341718:ios:340c70c7b06f0ffd261737</string>
	<key>DATABASE_URL</key>
	<string>https://shoployal-cf02d.firebaseio.com</string>
</dict>
</plist>